body{
    padding: 0;
    margin: 0;
    width: 100%;height: 100%;

    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
     box-sizing: border-box;
}

/* ********* Home Page ********** */
.home{
  height: 100vh;
  width: 100%;
  background-color:rgb(245, 225, 202);
    display: flex;
    align-items: center;
     justify-content:space-around;

}

.wave1 {
  padding-bottom: 500px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.wave1 .shape-fill {
  fill: rgb(255, 255, 255);
}

.text-container img{
  margin-left: 250px;
  padding-bottom: 0px;
}

.home-left img{
  margin-bottom: 100px;
  width: 30vw;
}

@media screen and (max-width:901px) {
  .home-left img{
    margin-bottom: 0px;
  }
  .wave1{
    display: none;
  }

  
  .more-work{
    margin-top: 10px;
  }
}


.home-right{
    text-align: center;
}

.home-right p{
    max-width: 600px;
}

@media screen and (max-width:793px) {
    .home-left img{
        width: 256px;
        
    }

}

@media  screen and (max-width:900px) {
  .home{
    flex-direction: column;
    justify-content:center;
}
  
}

.home img{
margin-top: 0px;
max-width: 100%; 
 max-height: 100%;
}

.text-container {
    position: relative;
    font-size: 24px;
    color: #333;
  }
  
  .welcome h1 {
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(24, end), blink-caret 0.5s step-end infinite alternate;

  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000 }
  }

 

.life-section{
    background-color: #2001a2;
    margin-bottom: 0px;
}

.work-section{
    margin-top: -4px;
}

.music-section{
    margin-top: -4px;
}
.music-btn{
    /* background-color: #e0a96d; */
    background-color: #a2f3fa;;
    border: 1px solid black;
    margin-bottom: 7px;

}

.music-btn:hover{
    border: 2px solid black;
    cursor: pointer;
}


/* ************* Flex box for life work and music ****** */

.flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    
}

.fb2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    
}
.img-left{
    text-align: center;
   
}
.text{
   max-width: 500px;
    
}
.text2{
  padding-bottom: 30px;
}

.img-right img{
    height: 300px;
    width: 250px;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-top: 10px;
    

}

/*  ************* cxo ********** */


.d-flex{
    justify-content:space-evenly;
    margin-top: 13px;
}

.content-flex{
    max-width: 500px;
    
}

.img-flex img{
    max-height: 400px;
    max-width: 550px;
    border-radius: 10px;
}

@media screen and (max-width:800px) {
    .cxo img{
    width: 80vw;
    }
}

/* ********** ment-toon ************ */
.ment-toon{
    margin-top: 20px;
    /* background-color: #9ad9dbcd; */
    /* background-color: #ccfbff; */
}

.ment-toon .flex-box{
    margin-bottom: 0px;
}

.mentoon-toonland{
    margin-top: 30px;
    /* background-color: #cc9d90cd; */
    background-color: white;
    margin: 20px 30px;
    padding-bottom: 0px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 3px 3px 8px rgb(60, 56, 56);
    transition: all 0.5s ease-in-out;

}

.mentoon-toonland:hover{
    cursor: pointer;
    /* box-shadow:14px 14px 8px; */
    transform: scale3d(1.3, 1.2, 0.3);
}

@media screen and (max-width:700px){
    .mentoon-toonland:hover{
        cursor: pointer;
        box-shadow:14px 14px 8px;
        transform:none;
    }
}

.content-men-toon{
    text-align: center;
   max-width: 502px;
   padding-bottom: 0px;
   background-color: #ccfbff;
}

/* ***************** Home image ************* */

@media screen and (max-width:900px){
   .fb2{
        flex-direction: column-reverse;
   }
}


.flex-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}



.left-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-contact{
    /* background-color: rgb(10, 10, 10); */
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 2vh;
    border-radius: 20px;
    margin-left: 10vw;

  }

  .fc{
    /* margin: 20px; */
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  form .fc input,textarea,button{
    padding: 7px;
    border-radius: 7px;
    opacity: 0.9;
    font-size: 15px;
    border: 3px solid black;
    /* box-shadow: 4px 4px 7px grey; */
  }

  .text-area{
    margin-bottom: 0px;
  }
  @media screen and (max-width:479px){
    #name{
      width: 100%;
    }
    #number{
      margin-top: 5px;
      width: 100%;
    }
  }
 
 
  @media screen and (max-width:758px)  {
    .right-contact{
        margin-left: 0vw;
      }
  }

  @media screen and (max-width:1070px){
        .left-contact{
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 10px;
        }

        .left-contact h3{
            display: none;
        }
  }
  /* ************ Icons *************  */

  .icon i{
    font-size: 30px;
    padding-bottom: 10px;
    /* color: rgb(156, 200, 218); */
    color: #60eaf7;;
  }

  .icon{
    margin-bottom: 10px;
  }

  .email2{
    padding-left: 50px;
  }

  .lnk{
    padding-left: 175px;
  }

  .lnk a{
    text-decoration: none;
    color: #333;
  }
  .email input , .message textarea{
    width: 100%;
  }

  form button{
    /* background-color: rgb(156, 200, 218); */
    background-color: #68e2ed;
    font-weight: bolder;
    font-size: large;
  }

  form button:hover{
    background-color: #98dae8;
   
  }
  .more-work{
    /* display: none; */
    margin-bottom: 10px;
    width: 100vw;
  }

  .more-work-btn{
    text-align: center;
    margin-bottom: 15px;
  }
  .more-work-btn button{ 
    border: 1px solid black;
    background-color: #CCCCFF;
    font-size: large;
  }

  .more-work-btn button:hover{
    background-color:#7b7be7;
    border: 2px solid black;
  }


@media screen and (max-width:750px){
    .d-flex{
      justify-content: center;
    }
    .even{
       flex-direction: column-reverse;
    }    
}


@media screen and (min-width: 500px) and (max-width: 1000px) {
    .brain img{
        width: 250px;
        
    }

  }

  @media screen and (max-width:801px){
    .content-flex{
        margin-top: 10px;
    }
  }

  @media screen and (max-width:900px) {
    .img-right img{
        margin-left: 0px;
        width: 350px;
    }
  }

  
  @media screen and (max-width:360px) {
    .img-right img{
        width: 250px;
    }
  }

  @media screen and (max-width:585px) {
    .mentoon-toonland img{
        width: 300px;
    }
  }

  @media screen and (max-width:320px) {
    .mentoon-toonland img{
        width: 200px;
    }
  }

  /* **************** music images ********** */

  .more-music{
    background-color: #ffffff;
    margin-top: 0;
    width: 100vw;
  }

  .image-flex-box img{
    width: 400px;
    height: 400px;
    margin-bottom: 15px;
    /* border: 2px solid black; */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

}

@media screen and (max-width:410px) {
  .image-flex-box img{
    width: 95vw;
  }
  
}

.image-flex-box img:hover{
    box-shadow: 10px 10px 10px grey;
}

#photos{
    display: none;
}
.image-flex-box{
  margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}


.close-btn button{
  border: 1px solid black;
}


@media screen and (max-width:801px){
  .img-flex img{
    width: 250px;
  }

  .hand-img img{
    width: 250px;
  }
  
}


.youtube-img img{
  width: 300px;
  border-radius: 10px;
  border: 2px solid white;
}

.icons a {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property:
      outline-offset, outline-color,
      background-color;
  transition-duration: .25s;
  margin: 4px;
}

.icons i:hover {
  outline-offset: 4px;
}

.icons i:hover i {
  animation: shake .25s;
}

.fb:hover{
  background-color: #0165E1;
  outline-color:#0165E1 ;
}

.insta:hover {
  background-image: radial-gradient(circle at 30% 107%,
          #fdf497 0%, #fdf497 5%,
          #fd5949 45%, #d6249f 60%,
          #285AEB 90%);
  outline-color: #a02d76;
}

.twt:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.li:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}



@keyframes shake {
  10% {
      transform: rotate(15deg);
  }

  20% {
      transform: rotate(-15deg);
  }

  30% {
      transform: rotate(15deg);
  }

  40% {
      transform: rotate(-15deg);
  }
}

.products a{
  display: block;
  text-decoration: none;
  color: white;
}

.products a:hover{
  color: rgb(192, 177, 177);
}

.flex-footer{
  display: flex;
  flex-wrap: wrap;
}

.mentoon-toonland button{
  border: 1px solid black;
}

.mentoon-toonland button:hover{
  border: 2px solid black;
}

@media screen and (max-width:540px) {
  .right-contact{
    width: 95vw;
  }
  
}


/* ********************************************************* */
.propelling-section{
  width: 100vw;
  
  background-color: antiquewhite;

}
.prop-p{
  width: 30vw;
  margin-right: 70px;
 
}
.prop-div{
  text-align: center;
  /* width: 60vw; */
  display: flex;
  flex-direction: row;
  justify-content:center;
}

@media screen and (max-width:1260px) {
  .prop-p{
    width: 80vw;
    margin-left: 0px;
    text-align: center;
  }

  .prop-p p{
    text-align: center;
  }
  .prop-div{
    flex-direction: column-reverse;

  }
  
}

@media screen and (max-width:370px) {
  .prop-div{
    padding: 5px 5px !important;
  }
  
}

.other-content{
  width: 60vw;
  text-align: center;
  margin: auto;
}

@media screen and (max-width:600px){
  .other-content{
    width: 80vw;
  }
  
}

@media screen and (max-width:400px){
  .other-content{
    width: 90vw;
  }
  
}
@media screen and (max-width:900px) {
  .prop-div img{
     width: 70vw;
  }
  
}

@media screen and (max-width:901px){

  .lnk{
    padding-left: 100px;
  }

  .flex-box img{
    margin-top: 10px;
  }

  .text-container img{
    height: 100px;
    width: 100px;
    padding-bottom: 0px;
  }
}

@media only screen and (min-width:365px) and (max-width:493px) {
  .lnk i{
    text-align: center;
  }
  .lnk{
    /* padding-left: 30vw; */
    margin: auto;
  }
}

@media screen and (max-width:750px) {
  .flex-footer{
    justify-content:space-around;
  }

  
}

@media screen and (max-width:330px) {
  .products {
    margin-top: 5px;
  }

  .products h4{
     margin-bottom:0px;
  }
  
}



/************** music images floating animations *********** */
.bubbles img{
  width: 70px;
  animation: bubble 7s linear infinite;
  /* opacity: 0.5; */
  
}

.bubbles i5{
  margin-bottom: 40%;
}

.bubbles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom:-70px;
}

@keyframes bubble{
  0%{
    transform: translate(y);
    opacity: 0;
  }
  50%{
   
    opacity: 1;
  }
  70%{
    
    opacity: 1;
  }
  100%{
    transform: translateY(-98vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1){
  animation-delay: 1s;
  width: 45px;
}
.bubbles img:nth-child(2){
  animation-delay: 0s;
}
.bubbles img:nth-child(3){
  animation-delay: 3s;
  width: 45px;
}


@media screen and (max-width:450px) {
  .ms2{
    display: none;
  }

  .bubbles{
    justify-content: space-between;
  }

}



/*************************** Image Carsl */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper{
display: flex;
max-width: 1200px;
position: relative;
/* text-align: center; */
margin: auto;
}
.wrapper i{
top: 50%;
height: 44px;
width: 44px;
color: #343F4F;
cursor: pointer;
font-size: 1.15rem;
position: absolute;
text-align: center;
line-height: 44px;
background: #f2f2f2;
border-radius: 50%;
transform: translateY(-50%);
transition: transform 0.1s linear;
}
.wrapper i:active{
transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
background: white;
}
.wrapper i:first-child{
left: -22px;
z-index: 1;
display: none;
}
.wrapper i:last-child{
right: -22px;
}
.wrapper .carousel{
font-size: 0px;
cursor: pointer;
overflow: hidden;
white-space: nowrap;
scroll-behavior: smooth;
}
.carousel.dragging{
cursor: grab;
scroll-behavior: auto;
}
.carousel.dragging img{
pointer-events: none;
}
.carousel img{
/* height: 340px; */
max-height: 300px;
    max-width: 500px;
object-fit: cover;
user-select: none;
margin-left: 10px;
width: calc(100% / 3);
}
.carousel img:first-child{
margin-left: 0px;
}

@media screen and (max-width: 900px) {
.carousel img{
width: calc(100% / 2);
}
}

@media screen and (max-width: 550px) {
.carousel img{
width: 100%;
}
}

.brand{
  text-align: right;
  padding: 0px 4px;
}

hr{
  color: white;
  background-color: #1da1f2;
}

@media screen and (max-width:493px) {
  .icon h5{
    display: inline;
    font-size: 13px;
  }
}


@media screen and (max-width:1260px) {
  html,body{
    width: 100%;
    overflow-x: hidden;
  }
  
}


@media screen and (max-width:423px) {
  .left-contact{
    text-align: center;

  }

  .icon i{
    font-size: 20px;
  }
  .icon{
    margin: 0px;
    padding: 0px;
  }

}

@media screen and (max-width:768px) {
  .contact{
    margin-top: 13px !important;
  }
  
}